body{
    margin-top:80px;
    scroll-margin-left:0px;
    margin-right:0px;
    margin-left: 0px;
    margin-bottom:1000px;
    background-color: rgb(249, 249, 249);
    z-index: 0;
    
}
p{
    font-family:roboto,arial;
}
.thumbnail_main{
    width:100%;
    display:inline-block;
    position:relative;
}
.thumbnail_image{
    display:inline-block;
    width:100%;
    margin-bottom:8px;

}
.profile_image{
    display:inline-block;
    width:45px;
    vertical-align: top;
}

.profile_photo{
    width:37px;
    height:37px;
    border-radius:19px;
}
.thumbnail_title{
     margin-top:0px;
     font-size:14px;
     line-height:19px;
     color:rgb(0, 0, 0);
     font-style:roboto;
     font-weight: 500;
}
.video_stats{

    color:rgb(116, 115, 115);
    margin-top:0px;   
    line-height:20px;
    font-size:12px;
}
.creator_name{
    color:rgb(115, 115, 115);
    margin-bottom:0px;
    font-size:12px;
}
.information_grid{
    display:grid;
    grid-template-columns:50px 1fr;
}

.videos_grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap:15px;
    row-gap:25px;
    border-top: 1px;
    margin-left:90px;
    margin-right:20px;
}
@media(max-width:1260px){
    .videos_grid{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media(max-width:830px){
    .videos_grid{
        grid-template-columns:1fr 1fr;
    }
}
.time{
    font-size:12px; 
    right:5px;
    bottom:117px;
    position:absolute;
    color:white;
    background-color: black;
    padding-inline:4px;
    padding-top:4px;
    padding-bottom: 4px;
    font-family: roboto;
    border-radius:2px;
}